div.dataTables_filter {
    text-align: end;
}
.form-control {
    text-align-last: start;
    text-align: start;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: revert;
}

div.dataTables_wrapper div.dataTables_length select,
select {
    text-align-last: end;
}

.container-repeatable-elements button.delete-element {
    margin-top: -25px;
    font-family: initial;
    left: 30px;
}

body {
    direction: rtl;
    text-align: start;
}

.w-1 {
    width: 1%;
}
