.navbar-toggler {
    z-index: 100;
}

div.dataTables_filter {
    text-align: end;
}
.form-control {
    text-align-last: start;
    text-align: start;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: revert;
}

div.dataTables_wrapper div.dataTables_length select,
select {
    text-align-last: end;
}

.container-repeatable-elements button.delete-element {
    margin-top: -25px;
    font-family: initial;
    left: 30px;
}

body {
    direction: rtl;
    text-align: start;
}

.w-1 {
    width: 1%;
}

[dir="rtl"] .float-right {
    float: right !important;
}

[dir="rtl"] .float-left {
    float: left !important;
}

#crudTable thead > tr > th.sorting_disabled,
table.dataTable thead > tr > th.sorting_disabled {
    padding-right: 12px;
}

.select2-container--bootstrap li.select2-results__option[aria-selected="true"] {
    background-color: #d6ecff;
}

.select2-container--bootstrap
    li.select2-results__option--highlighted[aria-selected] {
    background-color: #337ab7;
    color: #fff;
}

@media (max-width: 991.98px) {
    .app-header .navbar-brand {
        left: 30%;
    }
}

/* hover dropdown menus */

.dropdown-multilevel {
    display: initial;

    .dropdown-submenu {
        position: relative;

        span > i {
            color: black;
            margin: 0;
            position: absolute;
            left: 0;
            top: 50%;
            line-height: 0;
        }

        .dropdown-menu {
            top: 0;
            right: 100%;
            margin-top: -1px;
        }
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
        width: fit-content;
    }
}
