.switch-absent {
    .switch-input:checked + .switch-slider {
        background-color: #161c2d;
        border-color: #05070b;
    }
}
.switch-absent_w_excuse {
    .switch-input:checked + .switch-slider {
        background-color: #869ab8;
        border-color: #869ab8;
    }
}

.switch-late {
    .switch-input:checked + .switch-slider {
        background-color: #ffc107;
        border-color: #ffc107;
    }
}
.switch-late_w_excuse {
    .switch-input:checked + .switch-slider {
        background-color: #e2d098;
        border-color: #e2d098;
    }
}

.attend-switch {
    width: 136px;

    .switch-input:checked ~ .switch-slider:before {
        transform: translateX(110px);
    }

    .switch-slider {
        padding: 0 30px;
        color: white;
    }
}
